body {
  background-color: #292929;
  color: white;
  width: 100vw;
  height: 100vh;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25%;
}

header {
  height: 8.5%;
  display: flex;
}

.logo {
  margin-left: 5%;
  border-radius: 50%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

.nav-element {
  width: 10%;
}

footer {
  background-color: #292929;
  height: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid 2px white;
}

main {
  display: flex;
  width: 100%;
  height: 80%;
  background-color: #616161;
  overflow-y: scroll;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5%;
  row-gap: 5%;
  margin-bottom: 2.5%;
}

.card-image {
  width: 100%;
  height: 50%;
}

.card {
  background-color: #292929;
  width: 15vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  height: 5%;
  text-align: center;
  font-size: 14px;
}

.like-genre-container {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  background-color: #ee2935;
  border: none;
  color: white;
  width: 100%;
  height: 75%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5%;
}

.card-button {
  height: 25%;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.fa-star {
  color: yellow;
  margin-left: auto;
  margin-top: 10%;
  margin-bottom: auto;
  margin-right: auto;
}

.movie_cover {
  width: 80vw;
}

.movie_name {
  display: flex;
  justify-content: center;
}

.data {
  width: 42vw;
  display: flex;
  justify-content: space-between;
}

.genere::after {
  content: "\a\a";
  white-space: pre;
}

.comments_number {
  display: flex;
  justify-content: center;
}

.comments_container {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 3vw;
  display: none;
}

.comment {
  display: flex;
}

.comment_date,
.commentator_name {
  margin-right: 2%;
}

.add_comment {
  width: 30vw;
  margin-top: 3vw;
  margin-bottom: 2vh;
  margin-bottom: 10%;
}

.your_name {
  border: solid 1px black;
}

textarea {
  margin-top: 3%;
  width: 80%;
  border: solid 1px black;
}

.movie_cover_container {
  display: flex;
}

.close {
  width: 7vw;
  margin-left: 1vw;
}

textarea::after {
  content: "\a";
  white-space: pre;
}
