body {
  background-color: black;
  color: white;
}

nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25%;
  position: fixed;
}

.logo {
  margin-left: 5%;
  border-radius: 50%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

footer {
  background-color: silver;
  height: 5vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid 2px white;
}

.created {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 10%;
  border-top: solid 2px black;
}

.movie_cover {
  width: 80vw;
}

.movie_name {
  display: flex;
  justify-content: center;
}

.data {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}

.genere::after{
  content: "\a\a";
  white-space: pre;
}

.comments_number {
  display: flex;
  justify-content: center;
}

.comments_container {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 3vw;
}

.comment {
  display: flex;
}

.comment_date,
.commentator_name {
  margin-right: 2%;
}

.add_comment {
  width: 30vw;
  margin-top: 3vw;
  margin-bottom: 2vh;
  margin-bottom: 10%;
}

.your_name {
  border: solid 1px black;
}

textarea {
  margin-top: 3%;
  width: 80%;
  border: solid 1px black;
}

.movie_cover_container {
  display: flex;
}

.close {
  width: 7vw;
  margin-left: 1vw;
}

header {
  display: none;
}

textarea::after{
  content: "\a";
  white-space: pre;
}

ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.created {
  display: none;
}
